<h2>Букинист в твоем телефоне</h2>
<p> Вместе с приложением Kitapp Вам не нужно выделять несколько часов,
  чтобы сходить в букинист и найти интересную Вам книгу или сдать ненужные.
  Всего за несколько касаний Вы сможете сдать все ненужные книги, которые давно
  пылятся у Вас на полке, либо найти то, что искали.
  К тому же, пройдя через нескольких людей, книга становится только краше и
  приобретает свою собственную историю!
</p>

<h2>Особенности</h2>
<ul>
  <li>Удобный интерфейс</li>
  <li>Красивый дизайн</li>
  <li>Большая база книг</li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<a href="https://www.facebook.com/khvan.olga.v">Ольга Хван</a>
