<h2>Подпишитесь на обновления</h2>

<div id="mc_embed_signup">
  <form action="//facebook.us11.list-manage.com/subscribe/post?u=0911e98d20dd357a9fa6f76f3&amp;id=9923dd0084" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="example@gmail.com" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_0911e98d20dd357a9fa6f76f3_9923dd0084" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
